* {
    font-family: Helvetica;
    font-weight: 40px;
}

#titulo {
    border-radius: 5px;
    margin: 50px auto;
    padding: 20px;
    color: #1B9CFC;
    text-align: center;
    background-color: #F97F51;
    color: white;
    width: 400px;

}

#placar {
    display: flex;
    align-items: center;
    justify-content: center;

}

#jogador {
    position: relative;
    flex-grow: 1;
    border-radius: 5px;
    width: 200px;
    padding: 20px;
    color: white;

}

#computador {
    position: relative;
    flex-grow: 1;
    border-radius: 5px;
    width: 200px;
    padding: 20px;
    color: white;
}

#jogador {
    background-color: #55E6C1;
    height: 200px;
}

#computador {
    background-color: #D6A2E8;
    height: 200px;
}

#jogador_nome, #computador_nome{
    margin: 0px;
    padding: 0px;
}

#versus {
    width: 70;
    font-size: 40px;
    text-align: center;
    margin: 20px;
}

#jogador_nome {
    text-align: left;
}

#computador_nome {
    text-align: right;
}

#jogador_pontos, #computador_pontos {
    position: absolute;
    top: 8px;
    font-size: 32px;
}

#jogador_pontos {
    right: 20px;
}


ul#jogador_escolha, ul#computador_escolha {
    list-style:none ;
    margin: 0px;
    padding: 0xp;
    text-align: center;
}

ul#jogador_escolha li, ul#computador_escolha li{
    display: inline;
}

ul#jogador_escolha li a, ul#computador_escolha li a
{
    opacity: .2;
}

ul#jogador_escolha li a:hover, ul#jogador_escolha li a.selecionado, ul#computador_escolha li a.selecionado{
    opacity: 1;
}



ul#jogador_escolha li a img, ul#computador_escolha li a img{
    max-width: 80px;
}

#mensagens {
    background-color: #F97F51;
    text-align: center;
    color: white;
    font-size: 32px;
    border-radius: 5px ;
    margin: 60px auto;
    padding: 20px;
    width: 300px;
}